<h2 class="page_title">Thank you for using Pixeltastic!</h2>

<section class="help_text">
    <p>Pixeltastic has been created to let creative photographers showcase and sell their work at a price of their choosing.</p>

    <p>You can browse the images for sale on Pixeltastic without creating an account. If you would like to buy any photos or sell your own photos you will need to set up an account.</p>

    <p>If you have any issues editing or deleting any of your photo listings, please double check you are logged in.</p>

    <p>If you need to reset your password, please visit </p>
    <button type="button" class="btn btn-primary">
        <%= link_to 'Password Reset', new_user_password_path %>
    </button>

    <br>
    <br>

    <p>If you need to report an issue, please visit:</p>
    <button type="button" class="btn btn-primary">
        <a href="https://github.com/katherine-rock/pixeltastic/issues" target="_blank">https://github.com/katherine-rock/pixeltastic/issues</a>
    </button>
    <p></p>
</section>