<h2>Thank you for using Pixeltastic!</h2>
<br>
<p>If you need to report an issue, please visit:</p>
<a href="https://github.com/katherine-rock/pixeltastic/issues" target="_blank">https://github.com/katherine-rock/pixeltastic/issues</a>
