<%# Included during development - delete later %>
<% if user_signed_in? %>
    <p>User ID:&nbsp;</p><%= current_user.id %>
<% end %>

<h2>Welcome to Pixeltastic!</h2>
<p>An easy to use, stock photography website for creative photographers to sell their photos.</p>