<h1>Edit Your Photo</h1>

<%= render 'form', photo: @photo %>

<button type="button" class="btn btn-info">
    <%= link_to 'Show', @photo %> 
</button >

<button type="button" class="btn btn-info">
    <%= link_to 'Back', photos_path %> 
</button>