<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>      
      <th>Style</th>
      <th colspan="5"></th>
    </tr>
  </thead>

</table>

<br>