/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap"; 

html {
    margin-right: 0;
}

header {
    width: 100%;
    display: inline-flex;
    background-color: #12001D;
    margin: 0;
}

header img {
    max-height: 200px;
}

header h1 {
    color: #FFD610;
    font-size: 6em;
    padding: .3em 0em .2em 2em;
}

label {
    min-width: 10%;
}

.field {
    padding: .5em;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav a:visited a:link {
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #DCA7FA;
  }

.btn-primary {
    background-color: #470076;
    border: #470076;
}

