/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap"; 
    
// generic page formatting  

html, body {
    margin: 0;
}

.btn-info {
    color: white;
}

// header text and image

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #12001D;
    margin: 0;
    text-align: center;
    align-content: center;
}

header img {
    max-height: 200px;
    // float: left;
}

header h1 {
    color: #FFD610;
    font-size: 3em;
    padding: 0em 0em .2em 0em;
}

// display of user email at top of page
.log_status {
    margin: 0 2em;
    float: right;
    margin-bottom: .5em;
}

.log_status p {
    margin: 0;
}

// welcome message on home page
.welcome, .help_text, .portfolio_text {
    margin: 1em 2em;
}

.main {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    max-width: max-content;
    justify-content: center;
}

.page_title {
    text-align: center;
}

// button to view more photos on home screen - links to index
.button_view_all, .upload_button, .back_button {
    display: flex;
    align-self: center;
    margin: auto;
    justify-content: center;
    color: white;
}

// Image upload form 

.text_field, textarea, input {
    min-width: 100%;
}
.upload_form, .signup_form, .login_form, .show_page {
    margin: 2% 5%;
}
.upload_button {
    max-width: max-content;
}

.help_link {
    color: navy;
}

.field {
    padding: .5em;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 2em 4em;
    align-items: stretch;
}

button a:visited, a:link {
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #DCA7FA;
  }

nav .btn-primary {
    background-color: #470076;
    border: #470076;
    margin: .5em;
}

// Set maximum width of images on index page 
.card img {
    max-width: 18rem;
}

.card {
    margin: 1em;
}

.field input, .field textarea {
    background-color: #FFFAE1;
}

.field textarea {
    border: solid 2px #212529;
}

.form-group input {
    background-color: #FFFAE1;
}

.show_page img {
    max-width: 100%;
}

// mobile devices 
@media only screen and (max-width: 600px) {

  }

// tablets and ipads  
@media only screen and (min-width: 600px) {
    body {
 
    }
    header {
        display: inline-flex;
    }
    .header_image {
        float: left;
        align-content: center;
    }
    .header_text {
        font-size: 2rem;
    }
    .main {
        margin: 0 1em;
    }

    .log_status {
        float: right;
        margin: 0 2em;
        display: inline-flex;
    }

    .card {
        margin: 1em 2em;
    }

    .welcome, .help_text {
        margin: 1em 4em;
    }

    .upload_form, .signup_form, .login_form {
        margin: 0 20%;
    }

    nav {
        display: flex;
        flex-direction: row;
        margin: 2em 4em;
        justify-content: space-evenly;
        text-align: center;
        align-content: center;
    }

    img {
        max-width: 60%;
    }
  }  

// Set formatting for desktop screen sizes  
  @media only screen and (min-width: 1200px) {

    .main {
        margin: 0 3em;
    }
    .card {
        margin: 2em 4em;
    }

    .welcome, .help_text {
        margin: 1em 8em;
    }

    .show_page {
        margin: 0 20%;
    }
  }