/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap"; 

html, body {
    margin-right: 0;
}

header {
    width: 100%;
    display: flexbox;
    flex-direction: column;
    background-color: #12001D;
    margin: 0;
    text-align: center;
}

header img {
    max-height: 200px;
    // float: left;
}

header h1 {
    color: #FFD610;
    font-size: 3em;
    padding: 0em 0em .2em 0em;
}

.text_field, textarea, input {
    min-width: 100%;
}

.field {
    padding: .5em;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
}

nav a:visited a:link {
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #DCA7FA;
  }

.btn-primary {
    background-color: #470076;
    border: #470076;
    margin: .5em;
}

// Set maximum width of images on index page 
.card img {
    max-width: 18rem;
}

.card {
    margin: 1em;
}

.card_catalogue {
    display: flexbox;
    flex-wrap: wrap;
}